/.vs
/Executavel
/Compilado
/SyncLib.Installer/obj/x64/Release
/SyncLib.Installer/obj/Release
/SyncLib.Installer/bin
/SyncLib.Infrastructure/obj/Release
/SyncLib.Installer/obj/x64/Debug
/SyncLib.Core/obj/Release
/SyncLib.Tests/obj/Debug
/SyncLib.Tests/bin
/SyncLib.Infrastructure/obj/Debug
/SyncLib.Infrastructure/bin
